dl.c.macro > dt.c.sig-object::before {
  content: "#define ";
}

/* Remove the left margin on a left aligned table (probably a bug in Furo). */
table.align-left {
  margin-left: 0;
}

/* Skip header shadow when scrolled from Furo as it doesn't work on mobile. */
.mobile-header.scrolled {
  border-bottom: 1px solid var(--color-header-border);
  box-shadow: none;
}

/* Customize the "Example" admonition */
.admonition-example {
  font-size: inherit;
  padding: 0;
}

.admonition-example > p.admonition-title {
  margin-left: 0;
  margin-bottom: 0;
}

.admonition-example .highlight {
  background: inherit;
}
